@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --primary-color: #000807;
    --secondary-color: #272727;
    --tertiary-color: #38369A;
    --font-color: #FBF9FF;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
}

.commands-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: calc(100% - 250px);
    border-right: none;
    margin-left: 250px;
    padding: 10px 20px;
}

.commands-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: var(--tertiary-color);
}

input {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.search-commands-container {
    width: 25%;
}

#search-commands {
    width: 100%;
}

select {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

textarea {
    background-color: var(--secondary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.command {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}

.command-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.command-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
}

.toggle-switch .toggle-input {
    display: none;
}

.toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: rgb(255, 2, 2);
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}


.toggle-switch .toggle-input:checked+.toggle-label {
    background-color: #4CAF50;
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}

.toggle-switch.dark .toggle-label {
    background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label {
    background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}

.command-menu {
    position: absolute;
    top: 100%;
    right: 0; 
    padding: 10px;
    background-color: var(--secondary-color);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--font-color);
    z-index: 9999;
    box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.1);
}

.command-menu-active {
    display: flex;
}

.command-menu div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.command-menu div:hover {
    background: #38369A;
    color: var(--font-color);
    transition: all .3s ease-in-out;
}

.command-menu div:nth-child(2):hover {
    background: #ff0000;
    color: var(--font-color);
}

.command-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: var(--font-color);
}

.new-command {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: calc(100% - 250px);
    border-right: none;
    margin-left: 250px;
    padding: 10px 20px;
    z-index: 9999;
}

.new-command-window-active {
    display: flex;
}

.new-command-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.1);
}

.new-command-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.new-command-header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.new-command-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.new-command-body label {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.new-command-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new-command-footer button {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 50%;
}

#cancel-new-command {
    background-color: #ff0000;
    color: #fff;
}

#save-new-command {
    background-color: #01a501;
    color: #fff;
}

.new-command-body div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.new-command-body div input, select {
    width: 50%;
}

#error-message {
    display: none;
    width: 100%;
    color: #ff0000;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.actions-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.actions-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-color);
    text-align: left;
    width: 100%;
    border-bottom: 1px solid var(--font-color);
}

.action-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--tertiary-color);
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
}

.action-button i:nth-child(1) {
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.action-button-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.action-button .fa-trash {
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.action-button-desc span:nth-child(2) {
    font-size: 1rem;
    font-weight: 500;
    color: #afafaf;
}

.action-button .fa-trash:hover {
    color: #ff0000;
    cursor: pointer;
}