@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.main-container.blur {
    opacity: 0.5;
}

.search-bar {
    width: 100%;
    height: 60px;
    min-height: 60px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--font-color);
    font-size: 1em;
}

.search-bar input::placeholder {
    color: var(--font-color);
}

.search-bar i {
    font-size: 1.2em;
    color: var(--font-color);
    margin-left: 10px;
}

.users-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    grid-gap: 20px;
    padding: 20px;
    color: var(--font-color);
    width: 100%;
}

.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    color: var(--font-color);
    cursor: pointer;
    gap: 5px;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    text-align: center;
}

.user-container span {
    width: 100%;
}

.user-container img {
    width: 75px;
    border-radius: 50%;
}

.user-container:hover {
    background-color: var(--terrestrial-color);
}

.search-bar {
    width: 50%;
}

.content {
    overflow-y: scroll;
    gap: 10px;
}

.user-info-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 20px;
    color: var(--font-color);
    width: 40%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-info-container.show {
    display: flex;
}

.user-info-container img {
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    width: 100px;
    left: -20px;
}

.user-info-container .username {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.user-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
}

.user-details-container button {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--font-color);
    font-size: 1em;
    cursor: pointer;
    display: none;
}

.user-details-container button.showing {
    display: block;
}

.user-details-container::-webkit-scrollbar {
    width: 10px;
}

.user-details-container::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

.user-details-container::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
}

.user-details-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: var(--terrestrial-color);
    border-radius: 5px;
}

.user-details-container table tr:nth-child(odd) {
    background-color: var(--primary-color);
}

.user-details-container table tr:first-child {
    background-color: var(--background-color);
    text-transform: uppercase;
}

.user-details-container table tr td {
    padding: 10px 0;
}

.user-details-container input {
    width: 100px;
    background-color: var(--primary-color);
    border: 1px solid var(--font-color);
    outline: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--font-color);
    font-size: 1em;
    transition: all 0.3s ease-in-out;
}

.user-details-container input:focus {
    border: 1px solid var(--font-color);
    transition: all 0.3s ease-in-out;
}

.user-info-container .delete-button {
    background-color: #ff0000;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--font-color);
    font-size: 1em;
    cursor: pointer;
}

.user-info-container .delete-button:hover {
    background-color: #ff0000;
}