@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 1920px;
    height: 1080px;
}

#intermission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    color: white;
    font-size: 96px;
    font-style: italic;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;
}

#leaderboard {
    height: 100%;
    background: rgb(0, 0, 0, 0.50);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    height: 950px;
    max-height: 950px;
    overflow: hidden;
}

.leaderboard-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    padding: 10PX;
}

#leaderboard-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#leaderboard-desc {
    font-size: 16px;
    color: #ffffff;
}

.leaderboard-item {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 10px;
    animation: popIn 0.25s ease-in;
}

.leader-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18PX;
}

.leader-info img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.first {
    background: rgba(255, 0, 0, 0.5); 
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.8) 0%, rgba(0, 16, 255, 0.8) 100%);  
    color: #000000;
    display: flex;
    flex-direction: column;
    height: fit-content;
    color: white;
}

.first div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first img {
    width: 20%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#left {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform .30s ease-out;
    opacity: 1;
}

#discord {
    background-color: #7289da;
    font-size: 28px;
}

#twitter {
    background-color: #1da1f2;
    font-size: 28px;
}

#tiktok {
    background-color: #ff0050;
    font-size: 28px;
}

#youtube {
    background-color: #ff0000;
    font-size: 28px;
}

#instagram {
    background-color: #c32aa3;
    font-size: 28px;
}

.fa-brands {
    color: #ffffff;
    font-size: 120px;
}

.carousel-item.active {
    transform: translateX(0);
    /* Move to the center */
}

.carousel-item.outgoing {
    transform: translateX(-100%);
    /* Move to the left */
}

.latest {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.latest img {
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    border: #ffffff 2px solid;
}

.latest-title {
    font-size: 24px;
    font-weight: 800;
}

.latest-user {
    font-size: 16px;
    font-weight: 600;
}

.carousel {
    width: 100%;
    height: 33%;
    background-color: #0A100D;
    border-radius: 10px;
    color: white;
    position: relative;
    overflow: hidden;
    opacity: 1;
}

#current-game-container {
    position: relative;
}

#game-category-img {
    width: 30%;
    border-radius: 5px;
}

.label {
    font-size: 32px;
    font-weight: 400;
    opacity: 1;
}

#game-category {
    font-size: 32px;
    font-weight: 800;
    opacity: 1;
}

#uptime {
    font-size: 64px;
}

#queue-container {
    background-color: #9b6a2b;
}


@keyframes popIn {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}