@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.bottom-left-card {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn .5s ease-in-out;
    overflow: hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.bottom-left-card .social-media-icon {
    width: 5rem;
    height: 5rem;
}

.social-media-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--font-color);
    margin-bottom: 1rem;
}

.bottom-left-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--font-color);
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}

.command-highlight-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.command-highlight-container span:nth-child(1) {
    font-size: 18px;
}

.command-highlight-container span:nth-child(2) {
    font-size: 14px;
}

.bottom-left-bgt-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px);
    background-size: cover;
}

.spotify-bottom-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.spotify-bottom-left-container span:nth-child(1) {
    font-size: 18px;
    font-weight: 900;
    color: var(--font-color);
}

.spotify-bottom-left-container span:nth-child(2) {
    font-size: 14px;
    color: #1DB954;
}

.bottom-left-spotify-icon {
    width: 2rem;
    height: 2rem;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.random-quote-bottom-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    padding: 1rem;
    color: black;
}

.bottom-left-quote-created {
    font-size: 14px;
    color: var(--font-color);
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.bottom-left-quote-id {
    font-size: 14px;
    color: var(--font-color);
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}

.command-highlight-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.command-highlight-container span:nth-child(1) {
    font-size: 18px;
    color: var(--font-color);
}

.command-highlight-container span:nth-child(2) {
    font-size: 14px;
    color: var(--font-color);
}

.daily-sub-goal-progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40px;
    min-height: 10px;
    min-width: 80%;
    background-color: #1b1b1b;
    border-radius: 5px;
}

.daily-sub-goal-progress-bar {
    width: 80%;
    height: 100%;
    min-height: 100%;
    min-width: 80%;
    background-color: rgb(0, 122, 27);
    border-radius: 5px;
    position: relative;
}

.bottom-left-card-daily-sub-info {
    font-size: 20px;
    color: var(--font-color);
    margin-top: 1rem;
    position: absolute;
    bottom: 53px;
    left: 217px;
    z-index: 10;
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}