@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

body {
    background-color: transparent;
}

.goal-main-container {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 20px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50px 100%);
    margin-bottom: 20px;
    color: var(--font-color);
}