@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --font-color: #FFFFFF;
}

body {
    width: 1920px;
    height: 1080px;
    background-color: transparent;
}

:root {
    --alertContainerHeight: 200px;
}

.hype-train-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
    animation: slideDown 0.5s ease-in-out;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: opacity 0.5s ease-in-out;
}

.hype-train {
    width: 100%;
    height: 100%;
    background-color: #9146FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.hype-train-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.hype-train-progress-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hype-train-progress-bar-container {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    border-radius: 5px;
    width: 100%;
    transition: width 0.5s ease-in-out;
    background-color: #772CE8;
    margin-top: 10px;
}

.hype-train-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    width: 0;
    background-color: #E5E5E5;
    transition: width 0.5s ease-in-out;
}

.hype-train-progress-container p {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--background-color);
    z-index: 1000;
}

.top-contributor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    margin-top: 10px;
}

.top-contributor img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.top-contributor p:nth-child(2) {
    font-size: 10px;
    font-weight: 100;
}

.hide-hype-train {
    animation: slideUp 0.5s ease-in-out;
    opacity: 0;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }    
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }    
}