@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.intermission-container {
    height: 100%;
    min-width: 1900px;
    min-height: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.intermission-leaderboard {
    width: 35%;
    height: 100%;
}

.bottom-line-container {
    width: 100%;
    height: 100px;
    background-color: var(--terrestrial-color);
}