@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
    --bottom-line-height: 150px;
    --left-width: 25%;
}


.intermission-left-container {
    width: var(--left-width);
    height: calc(1080px - var(--bottom-line-height));
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.bottom-line-container {
    width: 100%;
    height: var(--bottom-line-height);
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.bottom-line-container div:first-child {
    width: var(--left-width);
    min-width: var(--left-width);
    height: 100%;
    z-index: 10;
}

.bottom-line-middle-container {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.game-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    z-index: 1;
    animation: upAndDown 240s infinite alternate;
}

.bottom-line-currently-playing {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.bottom-line-currently-playing span:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    color: var(--font-color);
    margin-bottom: 10px;
    border-bottom: 1px solid var(--font-color);
}

.bottom-line-currently-playing span:last-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: var(--font-color);
}

.intermission-alert {
    font-family: 'Montserrat', sans-serif;
    width: calc(100% - var(--left-width));
    min-width: calc(100% - var(--left-width));
    height: var(--bottom-line-height);
    min-height: var(--bottom-line-height);
    position: absolute;
    bottom: -150px;
    opacity: 1;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    animation: slideUp 1s ease-out forwards;
    transition: transform 1s ease-in-out;
}

.intermission-alert-display-name {
    font-size: 2em;
    color: var(--font-color);
    margin-bottom: 10px;
}

.intermission-alert-message {
    font-size: 2em;
    color: var(--font-color);
}

.intermission-monthly-subs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    left: calc(25px + var(--left-width));
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

@keyframes upAndDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1000px);
    }
}

@keyframes slideUp {
    to {
        transform: translateY(0);
    }
}