@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: calc(1080px - 200px);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}

.leaderboard-header {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}

.description {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.leaderboard-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.leaderboard-entry div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.leaderboard-entry img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.amount {
    text-align: right;
    width: 100%;
    height: 100%;
}