@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: calc(1080px - 200px);
    color: #111111;
    border-radius: 5px;
}

.leaderboard-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.leaderboard-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.leaderboard-user img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    margin-right: 10px;
}

.leaderboard-user-name {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.leaderboard-user div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leaderboard-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #111111;
}

.leaderboard-title {
    font-weight: 900;
    text-align: center;
    color: var(--font-color);
}

.leaderboard-description {
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
    font-style: italic;
    color: var(--font-color);
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.first div {
    display: flex;
    flex-direction: column;
}

.first div span {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #111111;
}

.first img {
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}