@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

/* body {
    background-color: transparent !important;
    font-family: 'Montserrat', sans-serif !important;
} */

.progress-container {
    width: 50%;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--font-color);
    font-size: 36px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif !important;
}

.goal {
    font-size: 42px;
}

.fa-gift {
    font-size: 78px;
    margin-right: 20px;
}

.right-side {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

.progress-main {
    width: 100%;
    height: 35%;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-bar {
    width: 80%;
    height: 100%;
    background-color: var(--terrestrial-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
    border-radius: 10px;
}

.progress {
    width: 20%;
    height: 100%;
    background-color: var(--secondary-color);
    transition: 0.5s;
    border-radius: 10px;
}

.progress-details {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
}