@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

/* body {
    background-color: transparent !important;
    font-family: 'Montserrat', sans-serif !important;
} */

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

.first-container span:nth-child(1) {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    letter-spacing: 1px;
}

.first-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 24px;
    animation: slideIn .5s ease-in alternate;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.first-inner img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1080px;
    width: 1920px;
    border: 10px solid transparent;
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), red, blue);
    border-image-slice: 1;
    animation: rotate 10s linear infinite;
}

.social-icons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 100%;
    justify-content: center;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: 200;
    padding: 10px;
}

.social i {
    font-size: 36px;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}


.left {
    width: 100%;
    height: 100%;
    background-color: #0A100D;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-stream {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 36px;
    color: #f7f7f7;
    padding: 10px;
    position: absolute;
    width: calc(min-content + 100px);
    top: 10px;
    left: 10px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #f7f7f7;
    width: calc(min-content + 10px);
    letter-spacing: 1px;
}

#stream-title {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    color: #ffffff;
    font-weight: 100;
    padding: 0 0 5px 0;
}

#stream-cat {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.starting-soon {
    display: flex;
    margin: auto 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: 50%;
    font-size: 36px;
    color: #f7f7f7;
}

.starting-soon span:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 15px;
    margin-bottom: 15PX;
}

.starting-soon span:nth-child(2) {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 12px;
}

.rectangle {
    height: 100%;
    width: 100%;
    border: 5px solid white;
}

#soon {
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 140px;
    font-weight: 800;
    margin-top: -25px;
}

#timer {
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#starting-soon-text {
    font-size: 64px;
    font-weight: 600;
}

#timer.starting {
    font-size: 64px;
    font-weight: 600;
    animation: blinkingText 1.2s infinite;
    letter-spacing: 5px;
}

@keyframes blinkingText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}