@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.main-container.blur {
    opacity: 0.5;
}

.search-bar {
    width: 50%;
    height: 60px;
    min-height: 60px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--font-color);
    font-size: 1em;
}

.search-bar input::placeholder {
    color: var(--font-color);
}

.search-bar i {
    font-size: 1.2em;
    color: var(--font-color);
    margin-left: 10px;
}

.quotes-main-container {
    width: 100%;
    height: 100vh;
}

.quotes-main-container::-webkit-scrollbar {
    width: 10px;
}

.quotes-main-container::-webkit-scrollbar-track {
    background: var(--primary-color);
}

.quotes-main-container::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

table tr:first-child {
    background-color: none;
    color: var(--font-color);
    font-weight: bold;
    font-size: 18px;
}

tr:not(.quote-table-head) {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    height: 100px;
    min-height: 100px;
    border-radius: 5px;
    font-weight: 100;
    cursor: pointer;
}

tr:not(.quote-table-head):hover {
    background-color: var(--terrestrial-color);
}

.quote {
    width: 80%;
    height: 100%;
}

.edit-quote-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 20px;
    color: var(--font-color);
    width: 40%;
    height: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.edit-quote-container.show {
    display: flex;
}

#quote-action {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.edit-quote-container.show {
    display: flex;
}

.edit-quote-container button {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--font-color);
    font-size: 1em;
    cursor: pointer;
}

#quote-delete {
    background-color: red;
}


#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

#quote-text {
    width: 100%;
    height: 50%;
    min-height: 200px;
    background-color: var(--background-color);
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--font-color);
    font-size: 1em;
    overflow-y: scroll;
    text-align: start;
    align-self: flex-start;
    vertical-align: top;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
}

form div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
}

form input {
    background-color: var(--background-color);
    border: 1px solid var(--font-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--font-color);
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.quote-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}