@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.actions-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--primary-color);
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Cabin', sans-serif;
}

.actions-header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--background-color);
}

.actions-search-bar {
    width: 100%;
    height: 60px;
    min-height: 60px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
}

.actions-search-bar input {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--font-color);
    font-size: 1em;
}

.actions-search-bar input::placeholder {
    color: var(--font-color);
}

.actions-search-bar i {
    font-size: 1.2em;
    color: var(--font-color);
    margin-left: 10px;
}

.actions-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--primary-color);
}

.action-container {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    position: relative;
}

.action-icon {
    width: 50px;
    height: 50px;
}

.action-container span {
    font-size: 16px;
    color: var(--font-color);
    opacity: 0.75;
    position: relative;
    bottom: -10px;
}

.actions-form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    z-index: 100;
}

.actions-form-header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}