@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}


.main-container.blur {
    opacity: 0.5;
}

input {
    background-color: var(--background-color);
    border: 1px solid var(--font-color);
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    color: var(--font-color);
    font-size: 1em;
    width: 100%;
    height: 50px;
}

input:focus {
    border: 1px solid var(--secondary-color);
}

.fa-chevron-down {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.confirmation button {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--font-color);
    font-size: 1em;
    cursor: pointer;
    width: 100px;
    min-width: 100px;
}

.confirmation {
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    z-index: 99;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.buttons {
    display: flex;
    gap: 20px;
}

#confirm-button {
    background-color: red;
}

#cancel-button {
    background-color: var(--secondary-color);
}