@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

input {
    background-color: var(--background-color);
    border: 1px solid var(--font-color);
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    color: var(--font-color);
    font-size: 1em;
    width: 100%;
    height: 50px;
}

input:focus {
    border: 1px solid var(--secondary-color);
}

.fa-chevron-down {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

button {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--font-color);
    font-size: 1em;
    cursor: pointer;
}

.main-container.blur {
    opacity: 0.5;
}

.currency-main-container {
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

#add-currency {
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.currency-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}


#save-button {
    background-color: green;
}

#delete-button {
    background-color: red;
}

#reset-button {
    background-color: orange;
}

.currency-container {
    width: 80%;
    min-height: 60px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative;
    gap: 10px;
}

.currency-container-inner {
    width: 80%;
    min-height: 60px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    gap: 10px;
}

.currency-container i {
    font-size: 1.5em;
    color: var(--font-color);
    cursor: pointer;
}

.currency-first {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.currency-first input {
    width: 20%;
}

.currency-second {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currency-payout-settings {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.currency-payout-settings label {
    font-size: 1.2em;
    color: var(--font-color);
    width: 300px;
    min-width: 300px;
    height: 50px;
    background-color: var(--terrestrial-color);
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.restrcitions-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.restrictions-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
}

.currency-payout-settings div:not(.switch-container) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.limit-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.currency-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.currency-options-container h3 {
    text-align: center;
}

select {
    width: 100%;
    height: 50px;
    background-color: var(--terrestrial-color);
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 1em;
    padding: 10px;
}

select:focus {
    border: 1px solid var(--secondary-color);
}