@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.chat-container {
    position: fixed;
    left: 275px;
    width: calc(100% - 600px);
    height: calc(100% - 90px);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--primary-color);
    font-family: 'Cabin', sans-serif;
}

.input-container {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    height: 50px;
}

.fa-icon {
    position: relative;
    font-size: 1.2rem;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.input-container input {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 1.2rem;
    padding: 0 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-messages-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    margin-left: 10px;
}

.chat-message {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 0;
    padding: 5px;
    gap: 5px;
    font-size: 18px;
}

.service-dropdown {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 1.2rem;
    border-radius: 0;
}

.dashboard-right-side-container {
    position: fixed;
    right: 10px;
    top: 80px;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
}

.dashboard-right-side-container div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

.tv-display-container {
    height: 200px;
    min-height: 200px;
}

.tv-display-container input {
    height: 100%;
    text-align: center;
}