@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.goals-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    font-family: 'Cabin', sans-serif;
}

.goal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.goal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.goal-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.goal-inputs  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.goal-inputs  div input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    color: var(--font-color);
    font-size: 64px;
    font-weight: 900;
    text-align: center;
}

.description-container {
    width: 100%;
}