@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}


body {
    background-color: var(--background-color) !important;
    color: var(--font-color);
    font-family: 'Cabin', sans-serif !important;
}

.main-container {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

.sidebar {
    width: 250px;
    height: 100%;
    background: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    gap: 20px;
}

.sidebar-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-top: 5px;
}

.sidebar-logo {
    width: 75px;
}

.sidebar-header span {
    font-size: 1.2em;
    color: var(--font-color);
    font-weight: 700;
    margin-left: 10px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    height: 100%;
    width: 100%;
}

.sidebar-list span {
    font-size: 0.8em;
    color: var(--font-color);
    opacity: 0.5;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-left: 10px;
}

.sidebar-item {
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
}

.sidebar-item.active,
.sidebar-item.active a {
    background-color: var(--font-color);
    color: var(--background-color);
    font-weight: bold;
}

.sidebar-item .fa-icon {
    font-size: 1.2em;
    padding: 5px;
    width: 25px;
    min-width: 25px;
}

.sidebar-item:hover {
    background-color: var(--font-color);
    color: var(--primary-color);
}

.sidebar-item:hover .sidebar-link {
    background-color: var(--font-color);
    color: var(--primary-color);
}

.sidebar-link {
    display: block;
    padding: 5px 10px;
    color: var(--font-color);
    text-decoration: none;
    width: 100%;
    text-align: left;
    /* margin-left: 10px; */
}

.sidebar-link:hover {
    background-color: var(--font-color);
    color: var(--primary-color);
}

.sidebar-footer {
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--font-color);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.user-info div {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 0.8em;
    color: var(--font-color);
}

.top-nav-bar {
    width: calc(100% - 250px);
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-left: 250px;
}

.top-nav-bar i {
    font-size: 32px;
    color: var(--font-color);
}

.notifications-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
}

.notification {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1f1f1f;
    cursor: pointer;
}

.notifications {
    width: 300px;
    height: 400px;
    background-color: #1f1f1f;
    border-radius: 5px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    z-index: 100;
    position: absolute;
    top: 60px;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.notifications.show {
    display: flex;
}

.notifications::-webkit-scrollbar {
    width: 10px;
}

.notifications::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

.notifications::-webkit-scrollbar-thumb {
    background-color: #005aff;
    border-radius: 5px;
}

.notification-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    overflow-y: scroll;
    height: 100%;
}

.notification-items-container::-webkit-scrollbar {
    width: 10px;
}

.notification-items-container::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

.notification-items-container::-webkit-scrollbar-thumb {
    background-color: #005aff;
    border-radius: 5px;
}

.notification-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: default;
}

.notification-item div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.noti-time {
    font-size: 0.8em;
    margin-top: 5px;
}

.notification-item:hover {
    background-color: var(--font-color);
    color: var(--primary-color);
}

.notification-filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

.notification-filters button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.notification-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

.notification-actions button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.notification-item .fa-times {
    font-size: 20px;
    color: #ff0000;
    cursor: pointer;
}


.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}

.content {
    width: calc(100% - 250px);
    margin-top: 60px;
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: none;
}

.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

.content::-webkit-scrollbar-thumb {
    background-color: #005aff;
    border-radius: 5px;
}

.search-bar {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--font-color);
    font-size: 1em;
}

.search-bar input::placeholder {
    color: var(--font-color);
}

.search-bar i {
    font-size: 1.2em;
    color: var(--font-color);
    margin-left: 10px;
}

/* The switch - the box around the slider */
.switch-container {
    width: 51px;
    height: 31px;
    position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.switch {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #e9e9eb;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/* The slider */
.slider {
    width: 27px;
    height: 27px;
    position: absolute;
    left: calc(50% - 27px/2 - 10px);
    top: calc(50% - 27px/2);
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.checkbox:checked+.switch {
    background-color: var(--secondary-color)
}

.checkbox:checked+.switch .slider {
    left: calc(50% - 27px/2 + 10px);
    top: calc(50% - 27px/2);
}