@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.command-name-inner label {
    color: var(--font-color);
    font-size: 1em;
    font-weight: 900;
    width: 200px;
    min-width: 200px;
}

.new-command-main-container {
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    position: fixed;
    z-index: 99;
}

.new-command-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--primary-color);
}

.new-command-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.new-command-header h1 {
    color: var(--font-color);
    font-size: 1.5em;
    font-weight: 900;
    width: 100%;
}

.new-command-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.command-name-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}