@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.user-main-container {
    width: 70%;
    height: 80%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: var(--font-color);
    cursor: pointer;
}

.user-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.user-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.user-info-wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-display-name {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--font-color);
}

.follow-date {
    font-size: .8rem;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
}

.user-roles-wrapper {
    position: fixed;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
}

.sub-status {
    color: var(--background-color);
    background-color: #FFD700;
    padding: 5px;
    border-radius: 5px;
}

.mod-status {
    color: var(--background-color);
    background-color: #aa5b00;
    padding: 5px;
    border-radius: 5px;
}

.vip-status {
    color: var(--background-color);
    background-color: #00aaff;
    padding: 5px;
    border-radius: 5px;
}

.user-actions-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.user-action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.user-data-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    position: relative;
}

.user-data-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid var(--font-color);
}

.user-data-icons div {
    width: 160px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-align: center;
}

.user-data-icons div .user-data-icon {
    font-size: 3rem;
    color: var(--font-color);
    width: 100%;
}

.user-data-icons div span {
    width: 100%;
    font-size: 1rem;
    color: var(--font-color);
    text-align: center;
}

.user-data-icons span:first-child {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-color);
    width: 200px;
    min-width: 200px;
}

.user-inputs-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: row;
    position: relative;
    bottom: 0;
    left: 0;
}

.time-periods {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 10px;
}

.time-periods span {
    font-size: 1.5rem;
    color: var(--font-color);
    background-color: var(--terrestrial-color);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    min-width: 200px;
}

.inputs-wrapper-inner {
    width: 160px;
    max-width: 160px;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
}

.inputs-wrapper-inner input {
    text-align: center;
}