@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #111111;
    --primary-color: #1b1b1b;
    --terrestrial-color: #1F1F1F;
    --secondary-color: #005AFF;
    --font-color: #FFFFFF;
}

.action-container {
    cursor: default;
}

.refresh-button {   
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
